@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  @apply bg-slate-900 text-white py-2 px-4 rounded-lg;
}

.wrapper {
  @apply bg-white p-4 min-h-screen text-black;
}

.input {
  @apply bg-white p-4 text-black border-2 border-primary rounded-lg;
}
